button:focus,
button:hover,
button:active	
	border: none
	box-shadow: none!important	
	outline: none
button
	border: none
.btn:focus,
.btn:active:focus
	outline: none

		
.header-button
	width: 100%
	max-width: 235px
	border: 1px solid #c7c7c7
	border-radius: 25px
	line-height: 38px
	margin-top: 22.5px
	margin-right: 30px	
	text-align: left
	padding-left: 20px
	color: #494c51
	transition: 0.5s
	float: right
	@media (max-width: 1200px)
		margin-right: 20px
	@media (max-width: 768px)
		display: none
	&:hover
		border: 1px solid #6cbc00
		background-color: #6cbc00
		color: $whiteColor
.header-button.header-close 
	background-image: url("../img/header-button-close.png")
	background-repeat: no-repeat
	background-position: 200px center
.header-button:hover.header-close
	background-image: url("../img/header-button-close-hover.png")

.main-button
	line-height: 38px	
	display: inline-block
	padding: 0 20px
	text-align: center
	border-radius: 25px
	width: 100%
	@media (max-width: 360px)
		padding: 0 10px
.main-button.orange-button
	color: $whiteColor
	background-color: $orangeColor
	border: 1px solid $orangeColor
	margin-top: 50px
	transition: 0.5s
	&:hover 
		background-color: transparent
		color: $orangeColor
		span:after
			background-image: url("../img/arrow-right-white-hover.png")
.main-button.blue-button
	color: $whiteColor
	background-color: $blueColor
	border: 1px solid $blueColor
	margin-top: 50px
	transition: 0.5s
	text-align: center
	&:hover 
		background-color: transparent
		color: $blueColor
.main-button.green-button
	color: $whiteColor
	background-color: $greenColor
	border: 1px solid $greenColor
	margin-top: 50px
	transition: 0.5s
	text-align: center
	&:hover 
		background-color: transparent
		color: $greenColor
.button-right
	float: right
.button-menu-toggle
	width: 40px
	height: 40px
	background-image: url("../img/icons/collapse-menu-button.png")
	margin-top: 22.5px
	float: right	
	background-color: transparent
	
.menu-box	
	.button-menu-toggle
		position: absolute
		top: 0
		right: 10px
		z-index: 100
		@media (max-width: 992px)
			top: -92px		
	.green-button
		background-image: url("../img/icons/collapse-menu-button-green.png")
.left-panel-toggle 
	position: relative
	float: left
	padding: 10px
	margin: 21px 0
	margin-right: 15px	
	background-color: transparent
	background-image: none
	cursor: pointer	
	.icon-bar 
		display: block
		width: 22px
		height: 2px
		border-radius: 1px
		background-color: $greenColor
	.icon-bar + .icon-bar 
		margin-top: 4px
.w-280
	max-width: 280px
	width: 80%
	padding: 0 20px
