@font-face 
	font-family: "GothicRegular"
	font-style: normal
	font-weight: normal
	src: url("../fonts/CenturyGothicRegular/CenturyGothicRegular.eot?#iefix") format("embedded-opentype"), 
	src: url("../fonts/CenturyGothicRegular/CenturyGothicRegular.woff") format("woff"), 
	src: url("../fonts/CenturyGothicRegular/CenturyGothicRegular.ttf") format("truetype")

@font-face 
	font-family: "Gothic"
	font-style: normal
	font-weight: normal	 
	src: url("../fonts/CenturyGothicRegular/CenturyGothic.eot?#iefix") format("embedded-opentype"), 
	src: url("../fonts/CenturyGothicRegular/CenturyGothic.woff") format("woff"), 
	src: url("../fonts/CenturyGothicRegular/CenturyGothic.ttf") format("truetype")

@font-face 
	font-family: "Helvetica"
	font-style: normal
	font-weight: normal
	src: url("../fonts/Helvetica/HelveticaRegular.eot?#iefix") format("embedded-opentype"), 
	src: url("../fonts/Helvetica/HelveticaRegular.woff") format("woff"), 
	src: url("../fonts/Helvetica/HelveticaRegular.ttf") format("truetype")
html 
	min-height: 100%
	position: relative
body
	font-family: "Gothic", Arial, Helvetica, sans-serif
	font-size: 16px
	line-height: 20px
	line-height: 1.2	
	height: 100%
	padding-bottom: 147px
	@media (max-width: 767px)
		padding-bottom: 167px
	@media (max-width: 450px)
		padding-bottom: 243px
h1, h2, h3, h4
	margin: 0
button:focus
	outline: none
a,
a:hover,
a:visited,
a:focus
	text-decoration: none
p
	font-family: "Helvetica", Arial, sans-serif
ul 
	margin: 0
	padding: 0
.relative
	position: relative
.item:focus
	outline: none
.section-light
	color: $whiteColor
.section-dark
	color: $blackColor
.section-title-level-2
	margin-bottom: 50px
	h2
		font-size: 26px
		line-height: 32px
.title-center,
text-center
	text-align: center
.section-description
	margin-top: 20px
.section-base
	padding: 80px 0
.section-base-pt
	padding-top: 80px
.section-base-pb
	padding-bottom: 80px
.section-inner-wrap
	@media (max-width: 992px)
		text-align: center
	.button-right
		@media (max-width: 992px)
			float: none
			display: inline-block
.divider
	width: 100%
	height: 1px
	background-color: $darkGreyColor
	margin: 15px 0

	
