.form-wrap
	width: 73%
	margin-left: auto
	margin-right: auto
	padding: 20px 35px
	background-color: $whiteColor
	border-radius: 25px
.form-group-own
	position: relative
.form-popup
	margin-top: 10px
	position: relative
	width: 100%	
	text-align: center	
	.form-group-own
		width: 100%	
		margin-bottom: 30px

	.form-control-own
		width: 100%
		margin-top: 0

.form-control-own
	border-radius: 25px
	background-color: transparent
	box-shadow: none 
	margin-top: 10px
	height: 40px	
	&:focus
		box-shadow: none
.form-black
	.form-control-own		
		border: 1px solid $darkGreyColor
		color: $blackColor
.form-description
	color: #000
	margin: 40px 0
	width: 83.3333%
	margin-left: 8.33333%
	
.form-black
	.form-control-own::-webkit-input-placeholder
		color: $darkGreyColor
	.form-control-own::-moz-placeholder
		color: $darkGreyColor/* Firefox 19+ */
	.form-control-own:-moz-placeholder
		color: $darkGreyColor/* Firefox 18- */
	.form-control-own:-ms-input-placeholder
		color: $darkGreyColor
	.form-control-own:focus	
		color: $darkGreyColor

.form-control-own::-webkit-input-placeholder
	transition: 0.5s
.form-control-own::-moz-placeholder
	transition: 0.5s/* Firefox 19+ */
.form-control-own:-moz-placeholder
	transition: 0.5s/* Firefox 18- */
.form-control-own:-ms-input-placeholder
	transition: 0.5s

.form-control-own:focus::-webkit-input-placeholder
	color: transparent
.form-control-own:focus::-moz-placeholder        
	color: transparent
.form-control-own:focus:-moz-placeholder          
	color: transparent
.form-control-own:focus:-ms-input-placeholder       
	color: transparent

.help-block-own
	font-size: 12px
	line-height: 15px
	text-align: left
	margin: 0
	position: absolute
	left: 10px
	display: none
.has-error
	.help-block-own
		color: $errorColor
	.input-icon-error,
	.help-block-own
		display: block
.has-success
	.input-icon-success
		display: block
.input-icon-error,
.input-icon-success
	display: block
	width: 40px
	height: 40px	
	background-repeat: no-repeat
	background-position: center
	position: absolute
	right: 0
	top: 0
	display: none

.input-icon-error
	background-image: url("../img/signs/has-error.png")
.input-icon-success
	background-image: url("../img/signs/has-success.png")

.btn-form-call
	position: fixed
	width: 50px
	height: 235px
	background-color: $orangeColor
	left: 0
	top: 50%
	transform: translateY(-50%)
	z-index: 9000
	color: $whiteColor
	text-transform: uppercase
	font-size: 16px
	font-weight: bold
	border-radius: 0 25px 25px 0
	cursor: pointer
	display: none
	-webkit-box-shadow: 3px 1px 20px 0px rgba(50, 50, 50, 0.15)
	-moz-box-shadow: 3px 1px 20px 0px rgba(50, 50, 50, 0.15)
	box-shadow: 3px 1px 20px 0px rgba(50, 50, 50, 0.15)
	>div
		width: 235px
		height: 50px
		transform: rotate(-90deg)
		position: absolute
		top: 40px
		left: -80px
