#modalForm
	text-align: center	
	.modal-content-own
		background-color: transparent
		box-shadow: none
		border: none
	.modal-header-own
		border: none
	.main-button
		margin-top: 0
button.close
	color: $whiteColor
	opacity: 0.8
	right: 10px
	top: 10px
	position: absolute
	&:hover
		color: $whiteColor
		opacity: 1