footer
	width: 100%
	background-color: $whiteColor
	padding: 40px 0
	position: absolute
	bottom: 0
	left: 0
.footer-links-list
	>ul 
		text-align: center
		>li 
			display: inline-block
			list-style-type: none
			position: relative
			@media (max-width: 450px)
				display: block
			>a 
				font-size: 14px
				line-height: 20px
				color: $blackColor
				padding: 0 20px
				position: relative	
				transition: 0.5s	
				&:hover
					color: $orangeColor	
		>li:before
			content: ""
			width: 7px
			height: 7px
			background-color: $orangeColor
			border-radius: 50%
			position: absolute
			top: 6.5px
			left: 0
			@media (max-width: 450px)
				content: none
		>li:first-child:before
			content: none
.copyright
	font-size: 14px
	color: $darkGreyColor
	text-align: center
	a 
		color: $blueColor


		