header.fixed
	position: fixed
	z-index: 1000
	@media (max-width: 768px)
		position: static
header
	width: 100%
	height: auto
	background-color: $whiteColor
	font-size: 14px

	-webkit-box-shadow: 0px 3px 8px 0px rgba(50, 50, 50, 0.15)
	-moz-box-shadow: 0px 3px 8px 0px rgba(50, 50, 50, 0.15)
	box-shadow: 0px 3px 8px 0px rgba(50, 50, 50, 0.15)
	@media (max-width: 1200px)
		padding-bottom: 6.5px
	@media (max-width: 768px)
		position: static
.logo-header
	padding: 6.5px 0
	position: relative
	z-index: 10
.menu-box
	display: none
	@media (max-width: 992px)
		position: absolute
		left: 0
		right: 0
		top: 92px
		
.menu-list
	position: absolute
	z-index: 99	
	background-color: $whiteColor	
	left: 210px	
	right: 80px	
	top: 0
	@media (max-width: 1200px)
		right: 60px
	@media (max-width: 992px)		
		right: 0
		left: 0
	@media (max-width: 767px)
		text-align: center
	ul 
		text-align: right
		position: relative
		@media (max-width: 992px)
			text-align: center
		>li 
			display: inline-block
			margin: -1px 15px
			position: relative
			line-height: 84px		
			@media (max-width: 992px)
				display: block	
				margin: 0
				
			a 
				color: $blackColor
				line-height: 40px
				margin-top: 22.5px
				margin-bottom: 22.5px
				display: block
				text-transform: uppercase	
				border-bottom: 1px solid transparent
				transition: 0.5s
				&:hover 
					border-bottom: 1px solid $greenColor
				@media (max-width: 992px)
					margin-top: 0
					margin-bottom: 0	
		>li.active a 
			border-bottom: 1px solid $greenColor
	.sign-in-btn		
		@media (max-width: 992px)
			margin-left: -66px	
			line-height: 40px		
		a
			border-left: 1px solid #d0d0d0
			padding-left: 66px
			position: relative
			@media (max-width: 992px)
				display: inline-block
				border-left: none
			&:hover
				border-bottom: 1px solid transparent
			&:before
				content: ""
				width: 16px
				height: 17px
				background-image: url("../img/sign-in-icon.png")
				position: absolute
				top: 50%
				left: 40px
				transform: translateY(-50%)

	ul>li>ul 
		position: absolute
		width: 200px
		background-color: $whiteColor
		text-align: left
		top: 95px
		display: none
		border-radius: 0
		border: none
		@media (max-width: 992px)
			position: static
			width: 100%
			box-shadow: none
			text-align: center
			border-top: 1px solid rgba(191,192,193,0.5)
			border-bottom: 1px solid rgba(191,192,193,0.5)
		>li
			display: block 
			
			>a 
				line-height: 40px
				&:hover
					background-color: transparent
.email-box
	float: right
	margin-top: 33px
	margin-right: 30px
	padding-left: 25px	
	position: relative
	@media (max-width: 1200px)
		margin-right: 20px
	@media (max-width: 992px)
		display: none
	@media (max-width: 768px)
		display: block
		margin-right: 15px
	@media (max-width: 768px)
		display: none
	&:before
		content: ""
		width: 17px
		height: 14px
		position: absolute
		top: 50%
		left: 0
		transform: translateY(-50%)
		background-image: url("../img/icons/envelope-icon-blue.png")		
	a
		font-size: 14px
		line-height: 20px
		color: $blackColor
.phone-box
	float: right
	margin-top: 32.5px
	margin-right: 30px		
	position: relative
.phone-list
	list-style-type: none
	@media (max-width: 500px)
		display: none
.dropdown-phone-toggle
	color: $blackColor
	line-height: 20px
	&:visited,
	&:focus,
	&:hover
		color: $blackColor
.dropdown-phone-menu
	left: auto
	right: 0
	border: 1px solid $darkGreyColor
	>li
		>a 
			padding: 3px 15px
			text-align: right
			line-height: 20px
			
.caret-own
	border: none
	width: 8px
	height: 5px
	margin-top: -2px
	margin-left: 10px
.caret-open
	background-image: url("../img/signs/arrow-down-orange.png")
.caret-close
	background-image: url("../img/signs/arrow-up-orange.png")


		


.login-group
	float: right
	margin: 30px 30px 0 0
	@media (max-width: 767px)
		float: none
		display: inline-block
		margin: 15px auto
	.login-box
		float: left
		border-right: 1px solid $darkGreyColor
		padding: 0 20px 0 30px
		position: relative
		&:before
			content: ""
			width: 16px
			height: 17px
			background-image: url("../img/icons/sign-in-icon.png")
			position: absolute
			top: 50%
			left: 0
			transform: translateY(-50%)
			
	.registration-box
		float: left
		padding: 0 0 0 20px
	.login-box, 
	.registration-box
			
		a 
			font-size: 14px
			line-height: 25px
			display: block
			color: $blackColor
			
		
	
