.thumbnail-own
	text-align: center
	border: none
	border-radius: none
	margin-top: 30px
	max-width: 295px
	margin-left: auto
	margin-right: auto
.thumbnail-title	
	margin-top: 15px
	h3
		font-size: 18px		
		font-weight: bold
.thumbnail-description
	margin-top: 15px
