.section-intro	
	background-position: center bottom
	background-repeat: no-repeat
	background-color: #7fcd00
	background-size: contain
	color: $whiteColor
	.inner-container
		margin: 265px 0 400px 0
		@media (max-width: 992px)
			margin: 185px 0 350px 0
		@media (max-width: 768px)
			margin: 150px 0 
			padding: 0 40px
		@media (max-width: 500px)
			padding: 15px 0
		span
			color: $whiteColor
			font-size: 24px
			line-height: 24px
			text-align: left
			text-transform: uppercase
			@media (max-width: 1200px)
				text-align: center
				display: block
			
.intro-title
	h2
		font-size: 36px
		line-height: 48px
		text-align: left
		color: $whiteColor
		text-transform: uppercase
		margin-top: 20px
		@media (max-width: 992px)
			text-align: center
		@media (max-width: 767px)
			font-size: 28px
		line-height: 42px
		@media (max-width: 600px)
			font-size: 26px
			line-height: 30px