.sidebar
	background-color: #fff
	bottom: 0
	overflow: hidden
	position: fixed
	top: 0
	left: 0
	-webkit-transition: all .2s ease
	-o-transition: all .2s ease
	transition: all .2s ease
	width: 230px
	z-index: 1000
.is-collapsed .sidebar 
	@media (min-width: 1140px)
		width: 70px
.is-collapsed .sidebar:hover
	width: 230px
.is-collapsed .header
	width: calc(100% - 70px)
.is-collapsed .sidebar .sidebar-inner .sidebar-logo
	@media screen and (min-width: 1440px)
		border-bottom: 1px solid transparent
		padding: 10px 0

.is-collapsed .sidebar .sidebar-logo
	border-bottom: 1px solid transparent
	overflow: hidden
	
.sidebar-inner 
	position: relative
	height: 100%

.sidebar-logo 
	border-bottom: 1px solid $greyColor
	border-right: 1px solid $greyColor
	line-height: 20px
	padding: 10px
	-webkit-transition: all .2s ease
	-o-transition: all .2s ease
	transition: all .2s ease
	height: auto	
	overflow: hidden
	margin-left: 10px
	
	
.logo
	background-image: url("../img/logo-sm.png")
	width: 147px
	height: 55px		

.sidebar-menu
	width: 230px
	height: calc(100% - 76px)
	border-right: 1px solid $greyColor
	-webkit-transition: all .2s ease
	-o-transition: all .2s ease
	transition: all .2s ease
.sidebar-menu-list
	padding: 0
	margin-left: 20px
	padding-top: 30px
	li
		list-style-type: none		
	.nav-item
		>ul 
			padding-left: 50px
	.icon-box
		width: 30px
		height: 30px
		display: block
		float: left
		text-align: center
		border: 1px solid $greenColor
		margin-right: 20px		
	.title 
		display: block	
		padding-right: 10px
		position: relative		
		padding-right: 10px	
			
	.sidebar-link
		line-height: 30px
		display: inline-block
		width: 100%
		margin: 5px 0	
		white-space: nowrap
	.sidebar-link.dropdown-toggle
		.title:before
			content: ""		
			display: inline-block
			width: 0
			height: 0
			position: absolute			
			right: 10px
			top: 13px			
			margin-left: 2px
			vertical-align: middle			
		.title.close-drop:before
			border-top: 4px dashed
			border-top: 4px solid $blackColor
			border-right: 4px solid transparent
			border-left: 4px solid transparent
		.title.open-drop:before		
			border-bottom: 4px dashed
			border-bottom: 4px solid $blackColor
			border-right: 4px solid transparent
			border-left: 4px solid transparent


.dropdown-nav 
	display: none
	padding-right: 20px

@keyframes caret-visible
	0%
		opacity: 0		
	100%
		opacity: 1

.is-collapsed .sidebar-menu
	width: 70px	
.is-collapsed .sidebar:hover	.sidebar-menu
	width: 230px
.is-collapsed .sidebar-menu .sidebar-link.dropdown-toggle
	.title:before
		right: -10px
		opacity: 0
.is-collapsed .sidebar:hover .sidebar-link.dropdown-toggle
	.title:before
		right: 10px		
		opacity: 1
		animation: caret-visible 1s	
.page-container
	min-height: 1400vh
	padding-left: 230px
	-webkit-transition: all .2s ease
	-o-transition: all .2s ease
	transition: all .2s ease
.header
	-webkit-transition: all .2s ease
	-o-transition: all .2s ease
	transition: all .2s ease
	width: calc(100% - 230px)
	right: 0
	top: 0
	z-index: 800
	height: 76px 
	position: fixed
	border-bottom: 1px solid $greyColor
.navbar-own 
	margin: 0	
	min-height: auto
	border-radius: none
	border: none
.navbar-inner
	height: auto	

.nav-right-group
	float: right
	margin-top: 28px
.nav-right
	padding: 0
	margin-right: 135px
.notification-item
	list-style-type: none
	display: inline-block
	
.dropdown-toggle-notification
	position: relative	
	display: block
	line-height: 76px
	padding: 0 20px	
	.counter
		position: absolute
		top: -7.5px
		right: 17px
		width: 15px
		height: 15px
		color: $whiteColor
		font-size: 8px
		line-height: 15px
		text-align: center
		border-radius: 50%
	.counter.green
		background-color: $greenColor
	.counter.orange
		background-color: $orangeColor
.notification-item-icon
	width: 20px
	height: 20px
	background-image: url("../img/icons/bell-icon-grey.png")
.notification-item-icon.bell
	background-image: url("../img/icons/bell-icon-grey.png")
.notification-item-icon.envelope
	background-image: url("../img/icons/envelope-icon-grey.png")
.dropdown-notification-menu
	left: auto
	right: 0
	min-width: 350px
	border: 1px solid $darkGreyColor
	border-radius: 10px

.user-data-gorup
	float: right
	margin-top: 18px
	
.left-side
	border-right: 1px solid $darkGreyColor
	padding: 0 20px
	float: left
.right-side
	float: left
	padding: 0 20px

.user-info-1
	font-size: 16px
	font-weight: bold
	line-height: 20px

.user-info-2
	font-size: 16px	
	line-height: 20px
.user-nav
	float: right	
	.avatar
		width: 44px
		height: 44px
		border-radius: 50%
		border: 1px solid $darkGreyColor
		overflow: hidden
		position: relative
		margin-left: auto
		margin-right: auto
		float: left		
		img 
			min-height: 44px
			max-width: 100%
			object-fit: cover
.user-settings-box
	float: left
.user-settings-list
	margin-top: 10.5px
	padding-left: 15px
	.dropdown
		list-style-type: none
.dropdown-settings-toggle
	display: block	
	width: 23px
	height: 23px
	background-color: $greyColor
	text-align: center
	line-height: 23px
.caret-settings
	margin: 0
	padding: 0
	border-top: 5px dashed
	border-top: 5px solid $blueColor
	border-right: 5px solid transparent
	border-left: 5px solid transparent
.dropdown-settings-menu
	left: auto
	right: 0
	min-height: 185px
	margin-top: 15px
	border: 1px solid $darkGreyColor
	border-radius: 10px
	
	
	

	
	

