.arrow-next,
.arrow-prev
	width: 44px
	height: 44px
	z-index: 999
	top: 50%
	transform: translateY(-50%)
	background-repeat: no-repeat
	background-position: center center
	position: absolute
	cursor: pointer	
	margin-top: -25px
.slick-slider
	.item,
	a
		&:focus
			outline: none
.slick-dots
	text-align: center
	margin: 30px 0
	button
		display: none
	li 
		display: inline-block
		width: 10px
		height: 10px
		border-radius: 50%
		background-color: rgba(127, 205, 0, 0.2)
		margin: 0 10px
	li.slick-active
		background-color: $greenColor
.slick-lightbox
	.slick-prev,
	.slick-next
		position: absolute
		top: 50%
		transform: translateX(-50%)
		width: 40px
		height: 40px
		z-index: 9999
		color: transparent
		background-color: transparent
		background-repeat: no-repeat
		background-position: center
	.slick-prev
		background-image: url("../img/signs/arrow-prev-white.png")
		left: 20px
		

	.slick-next
		background-image: url("../img/signs/arrow-next-white.png")
		right: -20px
		

.section-intro-slider
	background-position: center bottom
	background-repeat: no-repeat
	background-color: #7fcd00
	background-size: contain
	color: $whiteColor
	padding-top: 85px
	position: relative
	@media (max-width: 768px)
		padding-top: 0

	.arrow-next
		right: 0
		background-image: url("../img/signs/arrow-next-white.png")	
	.arrow-prev 
		left: 0
		background-image: url("../img/signs/arrow-prev-white.png")	
	.arrow-next,
	.arrow-prev 
		@media (max-width: 450px)
			top: 50px
	.item
		position: relative
		@media (max-width: 992px)
			padding-top: 150px
		@media (max-width: 768px)
			padding-top: 220px
		@media (max-width: 450px)
			min-height: 380px	
			padding-top: 0
		img 
			max-width: 100%
			height: auto
			@media (max-width: 450px)
				display: none

	.slide-description
		position: absolute
		top: 0
		left: 0
		right: 0
		bottom: 0
		z-index: 999
	.inner-container
		margin-top: 140px
		@media (max-width: 1200px)
			width: 49%
			margin-top: 120px
		@media (max-width: 992px)
			width: 100%
			text-align: center
			margin-top: 80px
		@media (max-width: 992px)			
			margin-top: 0
		@media (max-width: 992px)			
			margin-top: 70px
		@media (max-width: 450px)			
			margin-top: 110px
		span
			color: $whiteColor
			font-size: 24px
			line-height: 24px
			text-align: left
			text-transform: uppercase
h1 
	font-size: 36px
	line-height: 48px
	text-align: left
	color: $whiteColor
	text-transform: uppercase
	@media (max-width: 1200px)
		text-align: center

.slider-screenshots
	margin-top: 80px
	.arrow-next
		right: -20px
		background-image: url("../img/signs/arrow-next-green.png")
		@media (max-width: 768px)
			right: 0	
		@media (max-width: 500px)
			top: -30px
			transform: translateY(0)
	.arrow-prev 
		left: -20px
		background-image: url("../img/signs/arrow-prev-green.png")	
		@media (max-width: 768px)
			left: 0
		@media (max-width: 500px)
			top: -30px
			transform: translateY(0)

	.item			
		img 
			max-width: 100%
			height: auto
		.img-box
			max-width: 350px
			margin-left:  auto
			margin-right: auto
.section-tarifs
	background-color: $greyColor	
	.arrow-next
		right: -20px
		background-image: url("../img/signs/arrow-next-green.png")
		@media (max-width: 992px)
			right: 0
			top: -30px
			transform: translateY(0)			
	.arrow-prev 
		left: -20px
		background-image: url("../img/signs/arrow-prev-green.png")	
		@media (max-width: 992px)
			left: 0
			top: -30px
			transform: translateY(0)
	
			
	.main-button
		position: absolute
		bottom: 40px
		left: 50%
		transform: translateX(-50%)		
	.item-tarif-wrap.blue .item-tarif-header
		color: $blueColor
	.item-tarif-wrap.green .item-tarif-header
		color: $greenColor
	.item-tarif-wrap
		max-width: 400px
		margin-left: auto
		margin-right: auto
		width: 100%
		height: auto
		padding: 40px 20px 80px 20px
		background-color: #fff
		border-radius: 10px
		border: 1px solid #dcdcdc
		transform: scale(0.95)
		position: relative
		overflow: hidden
	.item-tarif-header
		text-align: center
		position: relative
		padding-bottom: 15px

		&:before 
			content: ""
			width: 400px
			height: 1px
			background-color: #dcdcdc
			position: absolute
			bottom: 0
			left: -20px
		h4
			font-size: 26px
			line-height: 40px
			text-transform: uppercase
	.item-tarif-price
		text-align: center
		padding: 20px 0
		span 
			display: block
		span:first-child
			font-size: 38px
			line-height: 40px
		span:last-child
			font-size: 14px
			line-height: 20px 
	.item-tarif-list > ul
		padding-left: 20px
		margin-bottom: 10px
		> li 
			margin: 5px 0
			font-size: 14px
			line-height: 20px
			margin: 5px 0
			list-style-type: none
			position: relative
			&:before
				content: ""
				width: 7px
				height: 7px
				border-radius: 50%
				position: absolute
				top: 8px
				left: -23.5px
.slider-tarifs .item-tarif-wrap.blue .item-tarif-list > ul > li:before 
	background-color: $blueColor
.slider-tarifs .item-tarif-wrap.green .item-tarif-list > ul > li:before 
	background-color: $greenColor
.slider-tarifs .item.slick-center .item-tarif-wrap 
	transform: scale(1)
.slider-tarifs
	div.slick-active .item-tarif-wrap 
		@media (min-width: 1200px)
			-webkit-box-shadow: 0px 5px 20px 0px rgba(50, 50, 50, 0.25)
			-moz-box-shadow: 0px 5px 20px 0px rgba(50, 50, 50, 0.25)
			box-shadow: 0px 5px 20px 0px rgba(50, 50, 50, 0.25)
	.slick-track
		@media (min-width: 1200px)
			padding: 20px 0
	.tarif-label-green 
		background-color: #7fcd00
		color: #fff
		padding: 0 20px
		line-height: 30px
		font-size: 14px
		text-align: center
		display: inline-block
		text-align: center
		border-radius: 0 0 10px 10px
		position: absolute
		top: 0
		left: 50%
		transform: translateX(-50%)

.section-testimonials	
	@media (max-width: 767px)
		text-align: center
	.section-title-level-2
		margin-bottom: 25px
	.img-box	
		@media (max-width: 767px)
			display: none
		img 
			max-width: 100%
			height: auto 
.slider-testimonials
	padding-left: 20px	
	@media (max-width: 767px)
		padding-left: 0

	.arrow-next,
	.arrow-prev
		background-color: $greyColor
		bottom: -60px
		top: auto
		transform: translate(0)
		position: absolute
	.arrow-next
		background-image: url("../img/signs/arrow-next-blue.png")
		left: 80px
	.arrow-prev
		background-image: url("../img/signs/arrow-prev-blue.png")
		left: 20px
	.item-wrap-testimonial
		max-width: 550px
		@media (max-width: 767px)
			max-width: 100%
		.username 
			font-size: 16px
			font-weight: bold
			font-family: "Helvetica", Arial, sans-serif
			margin: 10px 0
		.testimonial-text
			margin: 10px 0

			



		