.section-offer
	background-image: url("../img/intro-responsive-bg.png")
	background-position: center -150px
	background-size: cover
	background-repeat: no-repeat
	@media (max-width: 992px)
		background-position: center bottom
	.button-box
		float: right
		width: 40%
		text-align: right
		@media (max-width: 992px)
			width: 100%
			text-align: center
		.main-button
			margin-top: 10px
			@media (max-width: 992px)
				margin-top: 50px

.section-offer.green 
	background-color: $greenColor


.offer-text-box
	font-size: 20px
	width: 60%
	float: left
	@media (max-width: 992px)
		width: 100%
		text-align: center