html,
body {
    height: 100%;
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

.wrap > .container {
    padding: 70px 15px 20px;
}

.footer {
    height: 60px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: /*"\e113"*/ "\e151";
}

a.desc:after {
    content: /*"\e114"*/ "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view td {
    white-space: nowrap;
}

.grid-view .filters input,
.grid-view .filters select {
    min-width: 50px;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

/* align the logout "link" (button in form) of the navbar */
.nav li > form > button.logout {
    padding: 15px;
    border: none;
}

@media(max-width:767px) {
    .nav li > form > button.logout {
        display:block;
        text-align: left;
        width: 100%;
        padding: 10px 15px;
    }
}

.nav > li > form > button.logout:focus,
.nav > li > form > button.logout:hover {
    text-decoration: none;
}

.nav > li > form > button.logout:focus {
    outline: none;
}

/*ADDITIONAL!*/
.content-header{
    padding: 30px 15px 0 15px;
}

#ajaxIframe{
    width: 100%;
    height: 100%;
    padding: 10px;
    min-height: -webkit-fill-available;
    border: 0;
    min-height: 600px;
}

.userResult{
    display: inline-block;
    margin-left: 5px;
}
.userResult span{
    margin-right: 20px;
}

.hiddenEl{
    display: none!important;
}

.image-container{
    max-width: 80%;
    display: inline-block;
    vertical-align: top;
    position: relative;
}
.image-container img{
    max-width: 100%;
}

.maxWidth{
    max-width: 100%;
}

.close-img-button{
    position: absolute;
    right: -30px;
    top: 5px;
    cursor: pointer;
    font-size: 25px;
    color: red;
}

.fileNameButton{
    margin-bottom: 20px;
    margin-right: 10px;
}

.grid-view input[name="radioButtonSelection"]{
    cursor: pointer;
}

.users-index{
    overflow-y: auto;
}

.dynamicField{
    margin-bottom: 10px;
    padding-right: 20px;
}

.fieldRemoveButton{
    position: absolute;
    top: 0;
    right: 10px;
    cursor: pointer;
}

.fields-container .form-group {
    position: relative;
    margin: 0;
    padding: 0;
}

.fields-container .form-group label {
    display: block;
}

.dynamic-form-group{
    margin-bottom: 30px;
    position: relative;
}