@font-face {
  font-family: "GothicRegular";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/CenturyGothicRegular/CenturyGothicRegular.eot?#iefix") format("embedded-opentype");
  src: url("../fonts/CenturyGothicRegular/CenturyGothicRegular.woff") format("woff");
  src: url("../fonts/CenturyGothicRegular/CenturyGothicRegular.ttf") format("truetype"); }
@font-face {
  font-family: "Gothic";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/CenturyGothicRegular/CenturyGothic.eot?#iefix") format("embedded-opentype");
  src: url("../fonts/CenturyGothicRegular/CenturyGothic.woff") format("woff");
  src: url("../fonts/CenturyGothicRegular/CenturyGothic.ttf") format("truetype"); }
@font-face {
  font-family: "Helvetica";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/Helvetica/HelveticaRegular.eot?#iefix") format("embedded-opentype");
  src: url("../fonts/Helvetica/HelveticaRegular.woff") format("woff");
  src: url("../fonts/Helvetica/HelveticaRegular.ttf") format("truetype"); }
body {
  font-family: "Gothic", Arial, Helvetica, sans-serif;
  position: relative;
  color: #000; }

th {
  text-align: center; }

a {
  color: #439aff; }

.align-left {
  text-align: left !important; }

.blue-text {
  color: #439aff; }

.green-text {
  color: #7fcd00; }

.red-text {
  color: #dd4b39; }

.white-text {
  color: #fff; }

.orange-text {
  color: #ff6600; }

a.white-text:hover {
  color: #fff;
  text-decoration: underline; }

.green-bg {
  background-color: #7fcd00; }

.blue-bg {
  background-color: #439aff; }

.orange-bg {
  background-color: #ff6600; }

.red-bg {
  background-color: #dd4b39; }

.box-blue {
  border-top-color: #439aff !important; }

.content-wrapper-own {
  background-color: #f2f2f2; }

@media (min-width: 768px) {
  .grey-brd-resp {
    border-right: 1px solid #c7c7c7; } }
@media (max-width: 767px) {
  .grey-brd-resp {
    border-bottom: 1px solid #c7c7c7; } }

.fixed .content-wrapper-own {
  padding-top: 70px; }
  @media (max-width: 767px) {
    .fixed .content-wrapper-own {
      padding-top: 145px; } }

.content-header h1 {
  font-size: 16px;
  text-transform: uppercase;
  margin: 0;
  font-weight: bold;
  line-height: 30px; }

h3 {
  margin: 0; }

.white-box {
  background: #fff;
  padding: 25px;
  margin-bottom: 30px;
  height: auto;
  overflow: hidden; }

.content-header-own {
  background-color: #fff;
  padding: 15px; }

.content-header-own.full {
  width: 100%;
  height: auto; }

.breadcrumb-own {
  margin: 0;
  background-color: transparent;
  text-align: right;
  padding: 5px; }
  .breadcrumb-own li a {
    line-height: 20px;
    color: #439aff; }
  .breadcrumb-own li.active {
    color: #000; }

/*tarifs package */
.current-tarif-box,
.current-tarif-terms {
  font-weight: bold;
  float: left;
  margin-right: 20px;
  line-height: 20px;
  font-size: 16px; }
  .current-tarif-box span,
  .current-tarif-terms span {
    font-weight: normal;
    text-transform: uppercase; }

/*index.html white-box */
.col-in {
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  margin: 10px 0; }
  .col-in li {
    display: inline-block;
    vertical-align: middle;
    height: auto;
    align-self: center; }
  .col-in li.col-middle h4 {
    font-size: 18px;
    line-height: 22px; }
  .col-in li.col-middle {
    padding: 0 10px; }

.circle {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  display: block;
  text-align: center; }
  .circle .zi-icon {
    color: #fff;
    font-size: 32px;
    line-height: 60px; }

.box-counter {
  display: block;
  text-align: right;
  font-size: 36px;
  line-height: 40px;
  margin: 10px 0; }

.progress-bar-xs,
.progress-xs {
  height: 5px; }

/*create-project-page */
.preview-project-img {
  text-align: center;
  margin: 15px auto 0 auto;
  max-width: 283px;
  width: 100%;
  height: 315px;
  overflow: hidden;
  position: relative;
  border: 1px solid #c7c7c7;
  border-radius: 25px; }
  .preview-project-img img {
    max-width: 100%;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }

.close-img-button {
  width: 15px;
  height: 15px;
  position: absolute;
  top: 25px;
  right: 25px;
  background-image: url(../img/signs/icon-close-orange.png);
  background-repeat: no-repeat;
  background-position: center center;
  cursor: pointer; }

.padding-box {
  padding-left: 15px;
  padding-right: 15px; }

@media (min-width: 1500px) {
  .col-xl-6 {
    width: 50%; } }

@media (min-width: 1500px) {
  .col-xl-offset-3 {
    margin-left: 25%; } }

.box-notification,
.box-title {
  color: #000; }

.box-notification {
  border: none; }

.box-orange {
  border-color: #7fcd00; }

.box {
  color: #000; }

textarea {
  resize: none;
  padding-left: 20px !important; }

.navbar-form {
  width: 100%;
  height: 40px;
  margin-top: 15px;
  padding-left: 10px;
  padding-right: 10px; }

.form-control-own {
  height: 40px;
  border-radius: 25px;
  border-color: #c7c7c7;
  font-size: 14px;
  transition: 0.5s;
  padding-left: 20px; }
  .form-control-own:focus {
    border-color: #c7c7c7; }

.form-orange .form-control-own {
  background-color: #fff;
  border-top: 1px solid #ff6600;
  border-left: 1px solid #ff6600;
  border-bottom: 1px solid #ff6600;
  color: #000; }
  .form-orange .form-control-own:focus {
    border-top: 1px solid #ff6600;
    border-left: 1px solid #ff6600;
    border-bottom: 1px solid #ff6600;
    background-color: #fff;
    color: #000; }

.form-white .form-control-own {
  background-color: transparent;
  border: 1px solid #fff;
  color: #fff; }
  .form-white .form-control-own:focus {
    background-color: #fff;
    color: #000; }

.form-dark .form-control-own {
  background-color: transparent;
  border: 1px solid #c7c7c7;
  color: #000; }
  .form-dark .form-control-own:focus {
    background-color: transparent;
    color: #000; }

.search-btn-own {
  border-radius: 0 25px 25px 0 !important;
  background-color: #fff;
  border-top: 1px solid #ff6600;
  border-right: 1px solid #ff6600;
  border-bottom: 1px solid #ff6600;
  height: 40px;
  margin-left: -2px; }
  .search-btn-own:focus, .search-btn-own:active, .search-btn-own:active:focus {
    box-shadow: none;
    outline: none; }
  .search-btn-own .fa-search-own {
    color: #ff6600; }

.form-orange .form-control-own::-webkit-input-placeholder {
  color: #000; }
.form-orange .form-control-own::-moz-placeholder {
  color: #000; }
.form-orange .form-control-own:-ms-input-placeholder {
  color: #000; }
.form-orange .form-control-own:-moz-placeholder {
  color: #000; }

.form-white .form-control-own::-webkit-input-placeholder {
  color: #fff; }
.form-white .form-control-own::-moz-placeholder {
  color: #fff; }
.form-white .form-control-own:-ms-input-placeholder {
  color: #fff; }
.form-white .form-control-own:-moz-placeholder {
  color: #fff; }

.form-control-own::-webkit-input-placeholder {
  transition: 0.5s; }

.form-control-own::-moz-placeholder {
  transition: 0.5s; }

.form-control-own:-ms-input-placeholder {
  transition: 0.5s; }

.form-control-own:-moz-placeholder {
  transition: 0.5s; }

.form-control-own:focus::-webkit-input-placeholder {
  color: transparent; }

.form-control-own:focus::-moz-placeholder {
  color: transparent; }

.form-control-own:focus:-moz-placeholder {
  color: transparent; }

.form-control-own:focus:-ms-input-placeholder {
  color: transparent; }

.form-control-feedback-own {
  width: 40px;
  height: 40px;
  line-height: 40px;
  color: #fff !important; }

.form-white .checkbox-remember-me,
.form-white .checkbox-terms {
  color: #fff;
  font-size: 16px; }
  .form-white .checkbox-remember-me a,
  .form-white .checkbox-terms a {
    color: #fff;
    font-size: 16px;
    text-decoration: underline; }

.create-parce-task-box {
  max-width: 66.6666%;
  margin-left: 16.66666%;
  text-align: center; }

.form-group-parce-task {
  max-width: 50%;
  margin-left: 25%; }

.form-url-upload {
  width: 380px;
  float: left;
  margin-left: -15px; }
  .form-url-upload .form-group.to-left {
    margin-left: -70px; }

.btn-add-link {
  width: 100px;
  display: block;
  border-radius: 25px;
  line-height: 40px;
  padding: 0;
  transition: 0.5s;
  border: none;
  background-color: #7fcd00;
  color: #fff; }
  .btn-add-link:hover, .btn-add-link:focus, .btn-add-link:active, .btn-add-link:active:focus, .btn-add-link:visited {
    background-color: #ff6600;
    color: #fff;
    outline: none;
    box-shadow: none; }

.form-file-upload {
  text-align: center; }

.form-control-file {
  position: absolute;
  top: 40px;
  left: 20px;
  max-width: 190px;
  min-height: 40px;
  opacity: 0;
  outline: none;
  background-color: #439aff;
  cursor: pointer;
}

.btn-file-own {
  width: 200px;
  cursor: pointer; }
  .btn-file-own .btn-add-file {
    width: 200px;
    border-radius: 25px;
    line-height: 26px;
    font-size: 14px;
    background-color: #7fcd00;
    border: 1px solid #7fcd00;
    color: #fff;
    transition: 0.5s; }
    .btn-file-own .btn-add-file:hover, .btn-file-own .btn-add-file:active, .btn-file-own .btn-add-file:focus {
      background-color: transparent;
      color: #7fcd00; }
  .btn-file-own .btn-file-own,
  .btn-file-own .btn-add-file {
    outline: none !important;
    box-shadow: none; }

.btn-file-own {
  position: relative;
  overflow: hidden;
  padding: 6px 15px;
  line-height: 26px;
  font-size: 14px;
  color: #fff;
  background-color: #439aff;
  border: 1px solid #439aff;
  cursor: pointer; }

.btn-file-own.width-150 {
  max-width: 151px; }

.btn-file-own.green {
  background-color: #7fcd00;
  color: #fff;
  border: 1px solid #7fcd00; }

.btn-file-own.orange {
  background-color: #ff6600;
  color: #fff;
  border: 1px solid #ff6600; }

.form-create-project .form-group {
  margin-top: 15px; }
.form-create-project .btn-status-switch:focus, .form-create-project .btn-status-switch:active {
  outline: none; }
.form-create-project .btn-status-switch.checked {
  background-color: #7fcd00;
  border: 1px solid #7fcd00;
  color: #fff; }
.form-create-project .btn-status-switch.unchecked {
  color: #444;
  border: 1px solid #ddd;
  background-color: #f4f4f4; }
.form-create-project .btn-status-switch.left {
  border-radius: 25px 0 0 25px; }
.form-create-project .btn-status-switch.right {
  border-radius: 0 25px 25px 0; }
  .form-create-project .btn-status-switch.right:focus {
    border: 1px solid #ddd; }
.form-create-project .btn-project {
  color: #fff; }

.btn-file-own {
  display: block; }
  .btn-file-own .textarea-counter {
    color: #737373;
    margin-top: 5px;
    margin-bottom: 10px; }

.form-profile .btn-own,
.form-profile .btn-file-own {
  width: 150px; }
.form-profile .btn-file-own {
  margin-left: auto;
  margin-right: auto; }

textarea.textarea-sm {
  height: 130px !important; }

.btn-own {
  width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 25px;
  line-height: 40px;
  padding: 0;
  transition: 0.5s;
  border: none;
  text-transform: uppercase; }

.btn-create-parse {
  display: block;
  margin: 30px auto; }

.btn-own.orange {
  background-color: #ff6600;
  border: 1px solid #fff; }
  .btn-own.orange:hover {
    color: #ff6600;
    background-color: transparent;
    border: 1px solid #ff6600; }

.btn-own.green {
  background-color: #7fcd00;
  border: 1px solid #fff; }
  .btn-own.green:hover {
    color: #7fcd00;
    background-color: transparent;
    border: 1px solid #7fcd00; }

.btn-own.blue {
  background-color: #439aff;
  border: 1px solid #fff; }
  .btn-own.blue:hover {
    color: #439aff;
    background-color: transparent;
    border: 1px solid #439aff; }

.btn-own.white {
  background-color: #fff;
  color: #ff6600; }
  .btn-own.white:hover {
    color: #fff;
    background-color: #ff6600; }

.w-280 {
  max-width: 280px; }

.btn-tool {
  float: left;
  font-size: 14px;
  max-width: 200px;
  margin-right: 15px;
  background-color: transparent;
  border-radius: 25px;
  color: #fff;
  transition: 0.5s;
  padding: 6px 15px;
  line-height: 26px; }
  .btn-tool:focus {
    color: #fff; }
  .btn-tool:focus:active {
    outline: none; }
  .btn-tool > .fa {
    margin-right: 5px;
    line-height: 20px; }

.btn-tool.green {
  background-color: #7fcd00;
  border: 1px solid #7fcd00; }
  .btn-tool.green:hover, .btn-tool.green:active {
    background-color: transparent;
    color: #7fcd00;
    outline: none; }

.btn-tool.orange {
  background-color: #ff6600;
  border: 1px solid #ff6600; }
  .btn-tool.orange:hover, .btn-tool.orange:active {
    background-color: transparent;
    color: #ff6600;
    outline: none; }

.btn-tool.blue {
  background-color: #439aff;
  border: 1px solid #439aff; }
  .btn-tool.blue:hover, .btn-tool.blue:active {
    background-color: transparent;
    border: 1px solid #439aff;
    color: #439aff; }

.btn-back {
  margin-top: 25px;
  text-align: center; }
  .btn-back a {
    padding-left: 15px;
    position: relative; }
    .btn-back a:before {
      content: "";
      width: 5px;
      height: 8px;
      background-image: url("../img/signs/arrow-left-blue.png");
      background-position: center;
      position: absolute;
      top: 50%;
      left: 0;
      transform: translateY(-50%); }

.btn-box-tool.orange {
  color: #ff6600; }

.btn-box-tool:focus {
  outline: none; }

.btn:active:focus {
  outline: none; }

.btn-control-group {
  margin-left: 10px; }

.btn-green {
  background-color: #7fcd00;
  border: 1px solid #7fcd00; }
  .btn-green:hover {
    background-color: transparent;
    border: 1px solid #7fcd00;
    color: #7fcd00; }

.btn-blue {
  background-color: #439aff;
  border: 1px solid #439aff; }
  .btn-blue:hover {
    background-color: transparent;
    color: #439aff; }

.btn-red {
  background-color: #dd4b39;
  border: 1px solid #dd4b39; }
  .btn-red:hover {
    background-color: transparent;
    color: #dd4b39; }

.btn-orange {
  background-color: #ff6600;
  border: 1px solid #ff6600; }
  .btn-orange:hover {
    background-color: transparent;
    color: #ff6600; }

.mailbox-controls button,
.mailbox-controls a {
  color: #fff;
  width: 34px;
  height: 34px;
  border-radius: 25px !important;
  margin: 0 5px;
  transition: 0.5s;
  padding: 0; }
  .mailbox-controls button:hover,
  .mailbox-controls a:hover {
    background-color: transparent; }
.mailbox-controls i {
  line-height: 34px; }

.box-compose-footer button {
  border-radius: 25px !important;
  line-height: 38px;
  padding: 0 12px;
  color: #fff; }

table.table-project-links {
  color: #000;
  margin-top: 25px; }
  table.table-project-links .fa-area-chart {
    color: #7fcd00; }

table.table-project-links > thead > tr > th {
  border-bottom: 2px solid #dcdcdc;
  border-top: 2px solid #dcdcdc !important; }

table.table-project-links th,
table.table-project-links td {
  text-align: center; }

table.table-product-status {
  width: 100%; }
  table.table-product-status > thead > tr > th {
    text-align: center; }
  table.table-product-status > tbody > tr > td:first-child {
    width: 40px;
    text-align: center; }
  table.table-product-status > tbody > tr > td:last-child {
    width: 150px;
    text-align: center; }
  table.table-product-status > tbody > tr > td:nth-child(2) {
    width: calc(100% - 190px); }
  table.table-product-status > tbody > tr > td {
    font-size: 16px;
    line-height: 20px;
    vertical-align: middle; }

table {
  font-family: "Helvetica", Arial, sans-serif; }

.pagination-own > li > a,
.pagination-own > li > span{
  border: 1px solid #c7c7c7;
  border-radius: 50%;
  background-color: transparent;
  margin: 0 5px;
  transition: 0.5s;
  width: 34px;
  height: 34px;
  padding: 0;
  line-height: 34px;
  text-align: center;
  font-size: 12px; }
  .pagination-own > li > a:hover, .pagination-own > li > a:focus {
    background-color: #7fcd00;
    border: 1px solid #7fcd00;
    color: #fff; }
.pagination-own > li:first-child > a span,
.pagination-own > li:last-child > a span,
.pagination-own > li:first-child > span,
.pagination-own > li:last-child > span{
  background-repeat: no-repeat;
  color: transparent;
  background-position: center center; }
.pagination-own > li:first-child > a,
.pagination-own > li:last-child > a,
.pagination-own > li:first-child > span,
.pagination-own > li:last-child > span{
  border: none; }
  .pagination-own > li:first-child > a:hover,
  .pagination-own > li:last-child > a:hover {
    background-color: transparent; }
.pagination-own > li:first-child > a span,
.pagination-own > li:first-child > span{
  background-image: url("../img/signs/arrow-left-green.png"); }
.pagination-own > li:last-child > a span,
.pagination-own > li:last-child > span{
  background-image: url("../img/signs/arrow-right-green.png"); }
.pagination-own > li.active > a {
  background-color: #7fcd00;
  border: 1px solid #7fcd00;
  color: #fff; }

.modal-title-own {
  font-family: "Gothic", Arial, Helvetica, sans-serif;
  font-weight: bold; }

.modal-header-own {
  border-bottom: none; }

.modal-content-own.rounded {
  border-radius: 25px; }

#modal-upload .modal-title-own {
  text-align: center; }

.slider-tarifs .item {
  position: relative; }
  .slider-tarifs .item:focus {
    outline: none; }
.slider-tarifs .item.slick-center .item-tarif-wrap {
  transform: scale(1); }
.slider-tarifs .item-tarif-wrap {
  max-width: 400px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: auto;
  padding: 40px 20px 80px 20px;
  background-color: #fff;
  border-radius: 10px;
  border: 1px solid #dcdcdc;
  transform: scale(0.95);
  position: relative; }
  .slider-tarifs .item-tarif-wrap .btn-own {
    position: absolute;
    bottom: 40px;
    left: 50%;
    transform: translateX(-50%); }
.slider-tarifs .item-tarif-header {
  text-align: center;
  position: relative;
  padding-bottom: 15px; }
  .slider-tarifs .item-tarif-header:before {
    content: "";
    width: 360px;
    height: 1px;
    background-color: #dcdcdc;
    position: absolute;
    bottom: 0;
    left: -20px; }
  .slider-tarifs .item-tarif-header h4 {
    font-size: 26px;
    line-height: 40px;
    text-transform: uppercase; }
.slider-tarifs .item-tarif-wrap.blue .item-tarif-header {
  color: #439aff; }
.slider-tarifs .item-tarif-wrap.blue .item-tarif-list > ul > li:before {
  background-color: #439aff; }
.slider-tarifs .item-tarif-wrap.green .item-tarif-header {
  color: #7fcd00; }
.slider-tarifs .item-tarif-wrap.green .item-tarif-list > ul > li:before {
  background-color: #7fcd00; }
.slider-tarifs .item-tarif-price {
  text-align: center;
  padding: 20px 0; }
  .slider-tarifs .item-tarif-price span {
    display: block; }
  .slider-tarifs .item-tarif-price span:first-child {
    font-size: 38px;
    line-height: 40px; }
  .slider-tarifs .item-tarif-price span:last-child {
    font-size: 14px;
    line-height: 20px; }
.slider-tarifs .item-tarif-list > ul > li {
  margin: 5px 0;
  font-size: 14px;
  line-height: 20px;
  margin: 5px 0;
  list-style-type: none;
  position: relative; }
  .slider-tarifs .item-tarif-list > ul > li:before {
    content: "";
    width: 7px;
    height: 7px;
    border-radius: 50%;
    position: absolute;
    top: 8px;
    left: -23.5px; }

@media (min-width: 1200px) {
  div.slick-active .item-tarif-wrap {
    -webkit-box-shadow: 0px 5px 20px 0px rgba(50, 50, 50, 0.25);
    -moz-box-shadow: 0px 5px 20px 0px rgba(50, 50, 50, 0.25);
    box-shadow: 0px 5px 20px 0px rgba(50, 50, 50, 0.25); } }

@media (min-width: 1200px) {
  .slider-tarifs .slick-track {
    padding-bottom: 40px; } }

.slick-dots {
  padding: 0;
  text-align: center;
  margin: 30px 0; }
  .slick-dots button {
    display: none; }
  .slick-dots li {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: rgba(127, 205, 0, 0.2);
    margin: 0 10px; }
  .slick-dots li.slick-active {
    background-color: #7fcd00; }

.tarif-label-green {
  background-color: #7fcd00;
  color: #fff;
  padding: 0 20px;
  line-height: 30px;
  font-size: 14px;
  text-align: center;
  display: inline-block;
  text-align: center;
  border-radius: 0 0 10px 10px;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%); }

.info-box-own {
  color: #fff;
  padding: 25px;
  margin-bottom: 30px; }
  .info-box-own .box-title {
    margin: 0 0 12px;
    font-weight: 500;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: bold; }

.info-box-own.green {
  background-color: #7fcd00; }

.info-box-own.orange {
  background-color: #ff6600; }

.info-box-own.blue {
  background-color: #439aff; }

.two-part li i {
  font-size: 60px; }

.analytics-info .list-inline {
  margin-bottom: 0; }

.list-inline {
  padding-left: 0;
  margin-left: -5px;
  list-style: none; }

.two-part li {
  width: 48.8%; }

.list-inline > li {
  display: inline-block;
  padding-right: 5px;
  padding-left: 5px; }

.analytics-info .list-inline li {
  vertical-align: middle; }

.two-part li span {
  font-size: 32px; }

.goods-status-icon {
  color: rgba(0, 0, 0, 0.15); }

.logo-own {
  height: 70px !important;
  background-color: #fff;
  text-align: center; }

.navbar-main-own {
  background-color: #439aff; }

.logo-lg-own {
  margin-top: 10px; }

.sidebar-toggle-own {
  color: #fff;
  margin-top: 10px; }
  .sidebar-toggle-own:focus, .sidebar-toggle-own:active, .sidebar-toggle-own:visited {
    color: #fff !important; }

.main-sidebar-own {
  background-color: #fff;
  -webkit-box-shadow: 5px 0px 5px 0px rgba(50, 50, 50, 0.1);
  -moz-box-shadow: 5px 0px 5px 0px rgba(50, 50, 50, 0.1);
  box-shadow: 5px 0px 5px 0px rgba(50, 50, 50, 0.1); }

@media (min-width: 768px) {
  .sidebar-mini.sidebar-collapse .main-sidebar-own {
    width: 70px !important; } }

@media (min-width: 768px) {
  .sidebar-mini.sidebar-collapse .main-header .navbar-main-own {
    margin-left: 70px !important; } }

@media (min-width: 768px) {
  .sidebar-mini.sidebar-collapse .main-header .logo-own {
    width: 70px !important; } }

.navbar-userinfo {
  margin-top: 10px; }
  @media (max-width: 991px) {
    .navbar-userinfo {
      margin-top: 10px !important; } }

.navbar-userinfo > li > a:focus,
.navbar-userinfo > li > a:hover {
  background-color: transparent; }

.navbar-userinfo .open > a,
.navbar-userinfo .open > a:focus,
.navbar-userinfo .open > a:hover {
  background-color: transparent; }

.message-menu-own .fa,
.notifications-menu .fa,
.tasks-menu .fa {
  color: #fff !important;
  font-size: 18px; }

.notifications-menu {
  margin-right: 100px; }
  @media (max-width: 992px) {
    .notifications-menu {
      margin-right: 20px; } }

.label-counter {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  line-height: 20px !important;
  display: block;
  padding: 0 !important;
  top: 5px !important;
  right: 2px !important; }

.label-counter.orange {
  background-color: #ff6600; }

.label-counter.green {
  background-color: #7fcd00; }

.label-counter.red {
  background-color: #dd4b39; }

.user-image-own {
  width: 45px !important;
  height: 45px !important;
  margin-top: 0 !important; }

.user-menu-own {
  max-width: 220px; }
  .user-menu-own .dropdown-toggle-own {
    padding: 0;
    min-height: 45px; }
  .user-menu-own .username {
    color: #fff !important;
    line-height: 22.5px; }

.user-settings {
  margin-right: 10px; }
  .user-settings .fa-gears {
    color: #fff; }

.dropdown-menu-own {
  border-radius: 10px !important;
  border: none;
  -webkit-box-shadow: 0px 5px 10px 0px rgba(50, 50, 50, 0.3);
  -moz-box-shadow: 0px 5px 10px 0px rgba(50, 50, 50, 0.3);
  box-shadow: 0px 5px 10px 0px rgba(50, 50, 50, 0.3); }
  .dropdown-menu-own > li {
    padding: 10px; }
    .dropdown-menu-own > li > a {
      color: #000; }
  .dropdown-menu-own .header-own,
  .dropdown-menu-own .footer-own a {
    border-radius: none !important;
    background-color: transparent !important;
    border-bottom: none !important; }

.user-menu-own {
  position: relative; }
  .user-menu-own .fa-gear {
    position: absolute;
    top: 0;
    left: -5px;
    color: #7fcd00;
    font-size: 20px; }

.main-sidebar-own {
  padding-top: 70px; }

.sidebar-menu-own > li > a {
  padding: 20px;
  font-size: 14px;
  color: #000; }
  .sidebar-menu-own > li > a .fa {
    color: #439aff;
    font-size: 18px;
    margin-right: 7px; }

.sidebar-collapse .sidebar-menu-own > li {
  text-align: center; }

.treeview-menu-own > li > a {
  color: #000; }

.project-list-intro {
  width: 100%;
  padding: 15px 15px 0 15px; }

.project-list-message {
  text-align: center;
  text-transform: uppercase;
  margin-top: 25px;
  text-align: center; }

.btn-group-wrap {
  padding: 25px; }

/*table-project-list */
.table-tools .btn-group-wrap {
  padding: 0; }

.box-tools-navigation {
  float: right;
  margin: 0; }

table.table-project-list {
  color: #000;
  margin-top: 25px; }

table.table-project-list thead > tr > th {
  border-bottom: 2px solid #dcdcdc;
  border-top: 2px solid #dcdcdc !important;
  text-align: left; }

table.table-project-list tbody tr td {
  vertical-align: middle;
  border: none; }

table.table-project-list tbody tr td:nth-child(2) {
  max-width: 200px; }

table.table-project-list tbody tr {
  border-top: 1px solid #dcdcdc; }

.project-link {
  color: #000; }
  .project-link:hover {
    color: #439aff; }

.project-item-tool {
  display: inline-block;
  margin: 0 5px;
  cursor: pointer; }
  .project-item-tool > .fa {
    font-size: 16px;
    color: #439aff; }

.project-item-img img {
  max-width: 100%;
  height: auto; }

.your-price-box {
  font-size: 20px;
  color: #439aff;
  font-weight: bold; }

.empty-project-message {
  text-align: center;
  text-transform: uppercase;
  margin-top: 25px; }

.project-company-name {
  font-weight: bold;
  color: #439aff; }

.box-project-link {
  margin-top: 25px; }

.project-link-header {
  text-align: left; }
  .project-link-header a {
    color: #439aff; }

.project-action-box {
  position: absolute;
  top: 45px;
  right: 25px; }

.preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: #fff;
  z-index: 1000000;
  background-image: url("https://cdn-images-1.medium.com/max/1600/1*inYwyq37FdvRPLRphTqwBA.gif");
  background-repeat: no-repeat;
  background-position: center center; }

.login-page-own,
.register-page-own {
  background-color: #439aff;
  background-image: url("../img/background-1.jpg");
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: cover; }

.login-box-own,
.register-box-own {
  font-size: 16px;
  color: #fff;
  width: 440px; }

.login-logo-own img,
.register-logo-own img {
  max-width: 100px;
  height: auto; }

.login-box-body-own,
.register-box-body-own {
  border-radius: 25px;
  background-color: transparent; }

.login-box-msg-own {
  color: #000;
  font-size: 22px;
  line-height: 32px;
  text-transform: uppercase;
  color: #fff; }

.social-auth-links-own {
  color: #fff;
  margin-top: 20px;
  font-size: 16px; }

.btn-social-icon-own {
  width: 30px;
  height: 30px;
  padding: 0;
  border: none;
  margin: 0 10px; }

.btn-social-icon-own.facebook {
  background-image: url("../img/icons/facebook.png"); }

.btn-social-icon-own.google {
  background-image: url("../img/icons/google-plus.png"); }

.profile-user-img-own {
  border: 3px solid #7fcd00; }

.box-profile .btn-own {
  color: #fff;
  width: 100%;
  margin-top: 15px; }

.preview-avatar-img {
  width: 120px;
  height: 120px;
  border: 3px solid #7fcd00;
  border-radius: 50%;
  overflow: hidden;
  margin: 0 auto 15px auto;
  position: relative; }
  .preview-avatar-img img {
    max-width: 100%;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }

.nav-tabs-custom > .nav-tabs > li.active {
  border-color-top: #439aff; }

.nav-tabs-custom > .nav-tabs > li.active > a,
.nav-tabs-custom > .nav-tabs > li > a {
  color: #000; }

.box-tools .form-orange .form-control-own {
  border-right: 1px solid #ff6600;
  margin-top: 5px; }
.box-tools .form-orange .glyphicon-search {
  line-height: 40px;
  color: #ff6600; }

.box-header-mailer {
  padding: 20px 5px; }

.mailbox-controls {
  padding: 10px 5px; }

.mailbox-attachment-info .fa-cloud-download {
  color: #fff;
  line-height: 22px; }
.mailbox-attachment-info .btn-download-attach {
  background-color: #7fcd00;
  border-radius: 50%;
  width: 25px;
  height: 25px; }

.nav-stacked > li.active > a {
  border-left-color: #439aff; }

/*# sourceMappingURL=style.css.map */

.avatar-img {
  border: 3px solid #7fcd00;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  position: relative;
  overflow: hidden;
  margin: 0 auto;
}
.avatar-img img {
  max-width: 100%;
  height: auto;
  min-height: 120px;
  object-fit: cover;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
