@font-face {
  font-family: "GothicRegular";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/CenturyGothicRegular/CenturyGothicRegular.eot?#iefix") format("embedded-opentype");
  src: url("../fonts/CenturyGothicRegular/CenturyGothicRegular.woff") format("woff");
  src: url("../fonts/CenturyGothicRegular/CenturyGothicRegular.ttf") format("truetype"); }
@font-face {
  font-family: "Gothic";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/CenturyGothicRegular/CenturyGothic.eot?#iefix") format("embedded-opentype");
  src: url("../fonts/CenturyGothicRegular/CenturyGothic.woff") format("woff");
  src: url("../fonts/CenturyGothicRegular/CenturyGothic.ttf") format("truetype"); }
@font-face {
  font-family: "Helvetica";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/Helvetica/HelveticaRegular.eot?#iefix") format("embedded-opentype");
  src: url("../fonts/Helvetica/HelveticaRegular.woff") format("woff");
  src: url("../fonts/Helvetica/HelveticaRegular.ttf") format("truetype"); }
html {
  min-height: 100%;
  position: relative; }

body {
  font-family: "Gothic", Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 20px;
  line-height: 1.2;
  height: 100%;
  padding-bottom: 147px; }
  @media (max-width: 767px) {
    body {
      padding-bottom: 167px; } }
  @media (max-width: 450px) {
    body {
      padding-bottom: 243px; } }

h1, h2, h3, h4 {
  margin: 0; }

button:focus {
  outline: none; }

a,
a:hover,
a:visited,
a:focus {
  text-decoration: none; }

p {
  font-family: "Helvetica", Arial, sans-serif; }

ul {
  margin: 0;
  padding: 0; }

.relative {
  position: relative; }

.item:focus {
  outline: none; }

.section-light {
  color: #fff; }

.section-dark {
  color: #000; }

.section-title-level-2 {
  margin-bottom: 50px; }
  .section-title-level-2 h2 {
    font-size: 26px;
    line-height: 32px; }

.title-center,
text-center {
  text-align: center; }

.section-description {
  margin-top: 20px; }

.section-base {
  padding: 80px 0; }

.section-base-pt {
  padding-top: 80px; }

.section-base-pb {
  padding-bottom: 80px; }

@media (max-width: 992px) {
  .section-inner-wrap {
    text-align: center; } }
@media (max-width: 992px) {
  .section-inner-wrap .button-right {
    float: none;
    display: inline-block; } }

.divider {
  width: 100%;
  height: 1px;
  background-color: #b1b1b1;
  margin: 15px 0; }

button:focus,
button:hover,
button:active {
  border: none;
  box-shadow: none !important;
  outline: none; }

button {
  border: none; }

.btn:focus,
.btn:active:focus {
  outline: none; }

.header-button {
  width: 100%;
  max-width: 235px;
  border: 1px solid #c7c7c7;
  border-radius: 25px;
  line-height: 38px;
  margin-top: 22.5px;
  margin-right: 30px;
  text-align: left;
  padding-left: 20px;
  color: #494c51;
  transition: 0.5s;
  float: right; }
  @media (max-width: 1200px) {
    .header-button {
      margin-right: 20px; } }
  @media (max-width: 768px) {
    .header-button {
      display: none; } }
  .header-button:hover {
    border: 1px solid #6cbc00;
    background-color: #6cbc00;
    color: #fff; }

.header-button.header-close {
  background-image: url("../img/header-button-close.png");
  background-repeat: no-repeat;
  background-position: 200px center; }

.header-button:hover.header-close {
  background-image: url("../img/header-button-close-hover.png"); }

.main-button {
  line-height: 38px;
  display: inline-block;
  padding: 0 20px;
  text-align: center;
  border-radius: 25px;
  width: 100%; }
  @media (max-width: 360px) {
    .main-button {
      padding: 0 10px; } }

.main-button.orange-button {
  color: #fff;
  background-color: #ff6600;
  border: 1px solid #ff6600;
  margin-top: 50px;
  transition: 0.5s; }
  .main-button.orange-button:hover {
    background-color: transparent;
    color: #ff6600; }
    .main-button.orange-button:hover span:after {
      background-image: url("../img/arrow-right-white-hover.png"); }

.main-button.blue-button {
  color: #fff;
  background-color: #367bd0;
  border: 1px solid #367bd0;
  margin-top: 50px;
  transition: 0.5s;
  text-align: center; }
  .main-button.blue-button:hover {
    background-color: transparent;
    color: #367bd0; }

.main-button.green-button {
  color: #fff;
  background-color: #7fcd00;
  border: 1px solid #7fcd00;
  margin-top: 50px;
  transition: 0.5s;
  text-align: center; }
  .main-button.green-button:hover {
    background-color: transparent;
    color: #7fcd00; }

.button-right {
  float: right; }

.button-menu-toggle {
  width: 40px;
  height: 40px;
  background-image: url("../img/icons/collapse-menu-button.png");
  margin-top: 22.5px;
  float: right;
  background-color: transparent; }

.menu-box .button-menu-toggle {
  position: absolute;
  top: 0;
  right: 10px;
  z-index: 100; }
  @media (max-width: 992px) {
    .menu-box .button-menu-toggle {
      top: -92px; } }
.menu-box .green-button {
  background-image: url("../img/icons/collapse-menu-button-green.png"); }

.left-panel-toggle {
  position: relative;
  float: left;
  padding: 10px;
  margin: 21px 0;
  margin-right: 15px;
  background-color: transparent;
  background-image: none;
  cursor: pointer; }
  .left-panel-toggle .icon-bar {
    display: block;
    width: 22px;
    height: 2px;
    border-radius: 1px;
    background-color: #7fcd00; }
  .left-panel-toggle .icon-bar + .icon-bar {
    margin-top: 4px; }

.w-280 {
  max-width: 280px;
  width: 80%;
  padding: 0 20px; }

.form-wrap {
  width: 73%;
  margin-left: auto;
  margin-right: auto;
  padding: 20px 35px;
  background-color: #fff;
  border-radius: 25px; }

.form-group-own {
  position: relative; }

.form-popup {
  margin-top: 10px;
  position: relative;
  width: 100%;
  text-align: center; }
  .form-popup .form-group-own {
    width: 100%;
    margin-bottom: 30px; }
  .form-popup .form-control-own {
    width: 100%;
    margin-top: 0; }

.form-control-own {
  border-radius: 25px;
  background-color: transparent;
  box-shadow: none;
  margin-top: 10px;
  height: 40px; }
  .form-control-own:focus {
    box-shadow: none; }

.form-black .form-control-own {
  border: 1px solid #b1b1b1;
  color: #000; }

.form-description {
  color: #000;
  margin: 40px 0;
  width: 83.3333%;
  margin-left: 8.33333%; }

.form-black .form-control-own::-webkit-input-placeholder {
  color: #b1b1b1; }
.form-black .form-control-own::-moz-placeholder {
  color: #b1b1b1; }
.form-black .form-control-own:-moz-placeholder {
  color: #b1b1b1; }
.form-black .form-control-own:-ms-input-placeholder {
  color: #b1b1b1; }
.form-black .form-control-own:focus {
  color: #b1b1b1; }

.form-control-own::-webkit-input-placeholder {
  transition: 0.5s; }

.form-control-own::-moz-placeholder {
  transition: 0.5s; }

.form-control-own:-moz-placeholder {
  transition: 0.5s; }

.form-control-own:-ms-input-placeholder {
  transition: 0.5s; }

.form-control-own:focus::-webkit-input-placeholder {
  color: transparent; }

.form-control-own:focus::-moz-placeholder {
  color: transparent; }

.form-control-own:focus:-moz-placeholder {
  color: transparent; }

.form-control-own:focus:-ms-input-placeholder {
  color: transparent; }

.help-block-own {
  font-size: 12px;
  line-height: 15px;
  text-align: left;
  margin: 0;
  position: absolute;
  left: 10px;
  display: none; }

.has-error .help-block-own {
  color: #c2171d; }
.has-error .input-icon-error,
.has-error .help-block-own {
  display: block; }

.has-success .input-icon-success {
  display: block; }

.input-icon-error,
.input-icon-success {
  display: block;
  width: 40px;
  height: 40px;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  right: 0;
  top: 0;
  display: none; }

.input-icon-error {
  background-image: url("../img/signs/has-error.png"); }

.input-icon-success {
  background-image: url("../img/signs/has-success.png"); }

.btn-form-call {
  position: fixed;
  width: 50px;
  height: 235px;
  background-color: #ff6600;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  z-index: 9000;
  color: #fff;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: bold;
  border-radius: 0 25px 25px 0;
  cursor: pointer;
  display: none;
  -webkit-box-shadow: 3px 1px 20px 0px rgba(50, 50, 50, 0.15);
  -moz-box-shadow: 3px 1px 20px 0px rgba(50, 50, 50, 0.15);
  box-shadow: 3px 1px 20px 0px rgba(50, 50, 50, 0.15); }
  .btn-form-call > div {
    width: 235px;
    height: 50px;
    transform: rotate(-90deg);
    position: absolute;
    top: 40px;
    left: -80px; }

#modalForm {
  text-align: center; }
  #modalForm .modal-content-own {
    background-color: transparent;
    box-shadow: none;
    border: none; }
  #modalForm .modal-header-own {
    border: none; }
  #modalForm .main-button {
    margin-top: 0; }

button.close {
  color: #fff;
  opacity: 0.8;
  right: 10px;
  top: 10px;
  position: absolute; }
  button.close:hover {
    color: #fff;
    opacity: 1; }

header.fixed {
  position: fixed;
  z-index: 1000; }
  @media (max-width: 768px) {
    header.fixed {
      position: static; } }

header {
  width: 100%;
  height: auto;
  background-color: #fff;
  font-size: 14px;
  -webkit-box-shadow: 0px 3px 8px 0px rgba(50, 50, 50, 0.15);
  -moz-box-shadow: 0px 3px 8px 0px rgba(50, 50, 50, 0.15);
  box-shadow: 0px 3px 8px 0px rgba(50, 50, 50, 0.15); }
  @media (max-width: 1200px) {
    header {
      padding-bottom: 6.5px; } }
  @media (max-width: 768px) {
    header {
      position: static; } }

.logo-header {
  padding: 6.5px 0;
  position: relative;
  z-index: 10; }

.menu-box {
  display: none; }
  @media (max-width: 992px) {
    .menu-box {
      position: absolute;
      left: 0;
      right: 0;
      top: 92px; } }

.menu-list {
  position: absolute;
  z-index: 99;
  background-color: #fff;
  left: 210px;
  right: 80px;
  top: 0; }
  @media (max-width: 1200px) {
    .menu-list {
      right: 60px; } }
  @media (max-width: 992px) {
    .menu-list {
      right: 0;
      left: 0; } }
  @media (max-width: 767px) {
    .menu-list {
      text-align: center; } }
  .menu-list ul {
    text-align: right;
    position: relative; }
    @media (max-width: 992px) {
      .menu-list ul {
        text-align: center; } }
    .menu-list ul > li {
      display: inline-block;
      margin: -1px 15px;
      position: relative;
      line-height: 84px; }
      @media (max-width: 992px) {
        .menu-list ul > li {
          display: block;
          margin: 0; } }
      .menu-list ul > li a {
        color: #000;
        line-height: 40px;
        margin-top: 22.5px;
        margin-bottom: 22.5px;
        display: block;
        text-transform: uppercase;
        border-bottom: 1px solid transparent;
        transition: 0.5s; }
        .menu-list ul > li a:hover {
          border-bottom: 1px solid #7fcd00; }
        @media (max-width: 992px) {
          .menu-list ul > li a {
            margin-top: 0;
            margin-bottom: 0; } }
    .menu-list ul > li.active a {
      border-bottom: 1px solid #7fcd00; }
  @media (max-width: 992px) {
    .menu-list .sign-in-btn {
      margin-left: -66px;
      line-height: 40px; } }
  .menu-list .sign-in-btn a {
    border-left: 1px solid #d0d0d0;
    padding-left: 66px;
    position: relative; }
    @media (max-width: 992px) {
      .menu-list .sign-in-btn a {
        display: inline-block;
        border-left: none; } }
    .menu-list .sign-in-btn a:hover {
      border-bottom: 1px solid transparent; }
    .menu-list .sign-in-btn a:before {
      content: "";
      width: 16px;
      height: 17px;
      background-image: url("../img/sign-in-icon.png");
      position: absolute;
      top: 50%;
      left: 40px;
      transform: translateY(-50%); }
  .menu-list ul > li > ul {
    position: absolute;
    width: 200px;
    background-color: #fff;
    text-align: left;
    top: 95px;
    display: none;
    border-radius: 0;
    border: none; }
    @media (max-width: 992px) {
      .menu-list ul > li > ul {
        position: static;
        width: 100%;
        box-shadow: none;
        text-align: center;
        border-top: 1px solid rgba(191, 192, 193, 0.5);
        border-bottom: 1px solid rgba(191, 192, 193, 0.5); } }
    .menu-list ul > li > ul > li {
      display: block; }
      .menu-list ul > li > ul > li > a {
        line-height: 40px; }
        .menu-list ul > li > ul > li > a:hover {
          background-color: transparent; }

.email-box {
  float: right;
  margin-top: 33px;
  margin-right: 30px;
  padding-left: 25px;
  position: relative; }
  @media (max-width: 1200px) {
    .email-box {
      margin-right: 20px; } }
  @media (max-width: 992px) {
    .email-box {
      display: none; } }
  @media (max-width: 768px) {
    .email-box {
      display: block;
      margin-right: 15px; } }
  @media (max-width: 768px) {
    .email-box {
      display: none; } }
  .email-box:before {
    content: "";
    width: 17px;
    height: 14px;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    background-image: url("../img/icons/envelope-icon-blue.png"); }
  .email-box a {
    font-size: 14px;
    line-height: 20px;
    color: #000; }

.phone-box {
  float: right;
  margin-top: 32.5px;
  margin-right: 30px;
  position: relative; }

.phone-list {
  list-style-type: none; }
  @media (max-width: 500px) {
    .phone-list {
      display: none; } }

.dropdown-phone-toggle {
  color: #000;
  line-height: 20px; }
  .dropdown-phone-toggle:visited, .dropdown-phone-toggle:focus, .dropdown-phone-toggle:hover {
    color: #000; }

.dropdown-phone-menu {
  left: auto;
  right: 0;
  border: 1px solid #b1b1b1; }
  .dropdown-phone-menu > li > a {
    padding: 3px 15px;
    text-align: right;
    line-height: 20px; }

.caret-own {
  border: none;
  width: 8px;
  height: 5px;
  margin-top: -2px;
  margin-left: 10px; }

.caret-open {
  background-image: url("../img/signs/arrow-down-orange.png"); }

.caret-close {
  background-image: url("../img/signs/arrow-up-orange.png"); }

.login-group {
  float: right;
  margin: 30px 30px 0 0; }
  @media (max-width: 767px) {
    .login-group {
      float: none;
      display: inline-block;
      margin: 15px auto; } }
  .login-group .login-box {
    float: left;
    border-right: 1px solid #b1b1b1;
    padding: 0 20px 0 30px;
    position: relative; }
    .login-group .login-box:before {
      content: "";
      width: 16px;
      height: 17px;
      background-image: url("../img/icons/sign-in-icon.png");
      position: absolute;
      top: 50%;
      left: 0;
      transform: translateY(-50%); }
  .login-group .registration-box {
    float: left;
    padding: 0 0 0 20px; }
  .login-group .login-box a,
  .login-group .registration-box a {
    font-size: 14px;
    line-height: 25px;
    display: block;
    color: #000; }

.section-intro {
  background-position: center bottom;
  background-repeat: no-repeat;
  background-color: #7fcd00;
  background-size: contain;
  color: #fff; }
  .section-intro .inner-container {
    margin: 265px 0 400px 0; }
    @media (max-width: 992px) {
      .section-intro .inner-container {
        margin: 185px 0 350px 0; } }
    @media (max-width: 768px) {
      .section-intro .inner-container {
        margin: 150px 0;
        padding: 0 40px; } }
    @media (max-width: 500px) {
      .section-intro .inner-container {
        padding: 15px 0; } }
    .section-intro .inner-container span {
      color: #fff;
      font-size: 24px;
      line-height: 24px;
      text-align: left;
      text-transform: uppercase; }
      @media (max-width: 1200px) {
        .section-intro .inner-container span {
          text-align: center;
          display: block; } }

.intro-title h2 {
  font-size: 36px;
  line-height: 48px;
  text-align: left;
  color: #fff;
  text-transform: uppercase;
  margin-top: 20px;
  line-height: 42px; }
  @media (max-width: 992px) {
    .intro-title h2 {
      text-align: center; } }
  @media (max-width: 767px) {
    .intro-title h2 {
      font-size: 28px; } }
  @media (max-width: 600px) {
    .intro-title h2 {
      font-size: 26px;
      line-height: 30px; } }

.arrow-next,
.arrow-prev {
  width: 44px;
  height: 44px;
  z-index: 999;
  top: 50%;
  transform: translateY(-50%);
  background-repeat: no-repeat;
  background-position: center center;
  position: absolute;
  cursor: pointer;
  margin-top: -25px; }

.slick-slider .item:focus,
.slick-slider a:focus {
  outline: none; }

.slick-dots {
  text-align: center;
  margin: 30px 0; }
  .slick-dots button {
    display: none; }
  .slick-dots li {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: rgba(127, 205, 0, 0.2);
    margin: 0 10px; }
  .slick-dots li.slick-active {
    background-color: #7fcd00; }

.slick-lightbox .slick-prev,
.slick-lightbox .slick-next {
  position: absolute;
  top: 50%;
  transform: translateX(-50%);
  width: 40px;
  height: 40px;
  z-index: 9999;
  color: transparent;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center; }
.slick-lightbox .slick-prev {
  background-image: url("../img/signs/arrow-prev-white.png");
  left: 20px; }
.slick-lightbox .slick-next {
  background-image: url("../img/signs/arrow-next-white.png");
  right: -20px; }

.section-intro-slider {
  background-position: center bottom;
  background-repeat: no-repeat;
  background-color: #7fcd00;
  background-size: contain;
  color: #fff;
  padding-top: 85px;
  position: relative; }
  @media (max-width: 768px) {
    .section-intro-slider {
      padding-top: 0; } }
  .section-intro-slider .arrow-next {
    right: 0;
    background-image: url("../img/signs/arrow-next-white.png"); }
  .section-intro-slider .arrow-prev {
    left: 0;
    background-image: url("../img/signs/arrow-prev-white.png"); }
  @media (max-width: 450px) {
    .section-intro-slider .arrow-next,
    .section-intro-slider .arrow-prev {
      top: 50px; } }
  .section-intro-slider .item {
    position: relative; }
    @media (max-width: 992px) {
      .section-intro-slider .item {
        padding-top: 150px; } }
    @media (max-width: 768px) {
      .section-intro-slider .item {
        padding-top: 220px; } }
    @media (max-width: 450px) {
      .section-intro-slider .item {
        min-height: 380px;
        padding-top: 0; } }
    .section-intro-slider .item img {
      max-width: 100%;
      height: auto; }
      @media (max-width: 450px) {
        .section-intro-slider .item img {
          display: none; } }
  .section-intro-slider .slide-description {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 999; }
  .section-intro-slider .inner-container {
    margin-top: 140px; }
    @media (max-width: 1200px) {
      .section-intro-slider .inner-container {
        width: 49%;
        margin-top: 120px; } }
    @media (max-width: 992px) {
      .section-intro-slider .inner-container {
        width: 100%;
        text-align: center;
        margin-top: 80px; } }
    @media (max-width: 992px) {
      .section-intro-slider .inner-container {
        margin-top: 0; } }
    @media (max-width: 992px) {
      .section-intro-slider .inner-container {
        margin-top: 70px; } }
    @media (max-width: 450px) {
      .section-intro-slider .inner-container {
        margin-top: 110px; } }
    .section-intro-slider .inner-container span {
      color: #fff;
      font-size: 24px;
      line-height: 24px;
      text-align: left;
      text-transform: uppercase; }

h1 {
  font-size: 36px;
  line-height: 48px;
  text-align: left;
  color: #fff;
  text-transform: uppercase; }
  @media (max-width: 1200px) {
    h1 {
      text-align: center; } }

.slider-screenshots {
  margin-top: 80px; }
  .slider-screenshots .arrow-next {
    right: -20px;
    background-image: url("../img/signs/arrow-next-green.png"); }
    @media (max-width: 768px) {
      .slider-screenshots .arrow-next {
        right: 0; } }
    @media (max-width: 500px) {
      .slider-screenshots .arrow-next {
        top: -30px;
        transform: translateY(0); } }
  .slider-screenshots .arrow-prev {
    left: -20px;
    background-image: url("../img/signs/arrow-prev-green.png"); }
    @media (max-width: 768px) {
      .slider-screenshots .arrow-prev {
        left: 0; } }
    @media (max-width: 500px) {
      .slider-screenshots .arrow-prev {
        top: -30px;
        transform: translateY(0); } }
  .slider-screenshots .item img {
    max-width: 100%;
    height: auto; }
  .slider-screenshots .item .img-box {
    max-width: 350px;
    margin-left: auto;
    margin-right: auto; }

.section-tarifs {
  background-color: #eee; }
  .section-tarifs .arrow-next {
    right: -20px;
    background-image: url("../img/signs/arrow-next-green.png"); }
    @media (max-width: 992px) {
      .section-tarifs .arrow-next {
        right: 0;
        top: -30px;
        transform: translateY(0); } }
  .section-tarifs .arrow-prev {
    left: -20px;
    background-image: url("../img/signs/arrow-prev-green.png"); }
    @media (max-width: 992px) {
      .section-tarifs .arrow-prev {
        left: 0;
        top: -30px;
        transform: translateY(0); } }
  .section-tarifs .main-button {
    position: absolute;
    bottom: 40px;
    left: 50%;
    transform: translateX(-50%); }
  .section-tarifs .item-tarif-wrap.blue .item-tarif-header {
    color: #367bd0; }
  .section-tarifs .item-tarif-wrap.green .item-tarif-header {
    color: #7fcd00; }
  .section-tarifs .item-tarif-wrap {
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: auto;
    padding: 40px 20px 80px 20px;
    background-color: #fff;
    border-radius: 10px;
    border: 1px solid #dcdcdc;
    transform: scale(0.95);
    position: relative;
    overflow: hidden; }
  .section-tarifs .item-tarif-header {
    text-align: center;
    position: relative;
    padding-bottom: 15px; }
    .section-tarifs .item-tarif-header:before {
      content: "";
      width: 400px;
      height: 1px;
      background-color: #dcdcdc;
      position: absolute;
      bottom: 0;
      left: -20px; }
    .section-tarifs .item-tarif-header h4 {
      font-size: 26px;
      line-height: 40px;
      text-transform: uppercase; }
  .section-tarifs .item-tarif-price {
    text-align: center;
    padding: 20px 0; }
    .section-tarifs .item-tarif-price span {
      display: block; }
    .section-tarifs .item-tarif-price span:first-child {
      font-size: 38px;
      line-height: 40px; }
    .section-tarifs .item-tarif-price span:last-child {
      font-size: 14px;
      line-height: 20px; }
  .section-tarifs .item-tarif-list > ul {
    padding-left: 20px;
    margin-bottom: 10px; }
    .section-tarifs .item-tarif-list > ul > li {
      margin: 5px 0;
      font-size: 14px;
      line-height: 20px;
      margin: 5px 0;
      list-style-type: none;
      position: relative; }
      .section-tarifs .item-tarif-list > ul > li:before {
        content: "";
        width: 7px;
        height: 7px;
        border-radius: 50%;
        position: absolute;
        top: 8px;
        left: -23.5px; }

.slider-tarifs .item-tarif-wrap.blue .item-tarif-list > ul > li:before {
  background-color: #367bd0; }

.slider-tarifs .item-tarif-wrap.green .item-tarif-list > ul > li:before {
  background-color: #7fcd00; }

.slider-tarifs .item.slick-center .item-tarif-wrap {
  transform: scale(1); }

@media (min-width: 1200px) {
  .slider-tarifs div.slick-active .item-tarif-wrap {
    -webkit-box-shadow: 0px 5px 20px 0px rgba(50, 50, 50, 0.25);
    -moz-box-shadow: 0px 5px 20px 0px rgba(50, 50, 50, 0.25);
    box-shadow: 0px 5px 20px 0px rgba(50, 50, 50, 0.25); } }
@media (min-width: 1200px) {
  .slider-tarifs .slick-track {
    padding: 20px 0; } }
.slider-tarifs .tarif-label-green {
  background-color: #7fcd00;
  color: #fff;
  padding: 0 20px;
  line-height: 30px;
  font-size: 14px;
  text-align: center;
  display: inline-block;
  text-align: center;
  border-radius: 0 0 10px 10px;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%); }

@media (max-width: 767px) {
  .section-testimonials {
    text-align: center; } }
.section-testimonials .section-title-level-2 {
  margin-bottom: 25px; }
@media (max-width: 767px) {
  .section-testimonials .img-box {
    display: none; } }
.section-testimonials .img-box img {
  max-width: 100%;
  height: auto; }

.slider-testimonials {
  padding-left: 20px; }
  @media (max-width: 767px) {
    .slider-testimonials {
      padding-left: 0; } }
  .slider-testimonials .arrow-next,
  .slider-testimonials .arrow-prev {
    background-color: #eee;
    bottom: -60px;
    top: auto;
    transform: translate(0);
    position: absolute; }
  .slider-testimonials .arrow-next {
    background-image: url("../img/signs/arrow-next-blue.png");
    left: 80px; }
  .slider-testimonials .arrow-prev {
    background-image: url("../img/signs/arrow-prev-blue.png");
    left: 20px; }
  .slider-testimonials .item-wrap-testimonial {
    max-width: 550px; }
    @media (max-width: 767px) {
      .slider-testimonials .item-wrap-testimonial {
        max-width: 100%; } }
    .slider-testimonials .item-wrap-testimonial .username {
      font-size: 16px;
      font-weight: bold;
      font-family: "Helvetica", Arial, sans-serif;
      margin: 10px 0; }
    .slider-testimonials .item-wrap-testimonial .testimonial-text {
      margin: 10px 0; }

.thumbnail-own {
  text-align: center;
  border: none;
  border-radius: none;
  margin-top: 30px;
  max-width: 295px;
  margin-left: auto;
  margin-right: auto; }

.thumbnail-title {
  margin-top: 15px; }
  .thumbnail-title h3 {
    font-size: 18px;
    font-weight: bold; }

.thumbnail-description {
  margin-top: 15px; }

.section-offer {
  background-image: url("../img/intro-responsive-bg.png");
  background-position: center -150px;
  background-size: cover;
  background-repeat: no-repeat; }
  @media (max-width: 992px) {
    .section-offer {
      background-position: center bottom; } }
  .section-offer .button-box {
    float: right;
    width: 40%;
    text-align: right; }
    @media (max-width: 992px) {
      .section-offer .button-box {
        width: 100%;
        text-align: center; } }
    .section-offer .button-box .main-button {
      margin-top: 10px; }
      @media (max-width: 992px) {
        .section-offer .button-box .main-button {
          margin-top: 50px; } }

.section-offer.green {
  background-color: #7fcd00; }

.offer-text-box {
  font-size: 20px;
  width: 60%;
  float: left; }
  @media (max-width: 992px) {
    .offer-text-box {
      width: 100%;
      text-align: center; } }

footer {
  width: 100%;
  background-color: #fff;
  padding: 40px 0;
  position: absolute;
  bottom: 0;
  left: 0; }

.footer-links-list > ul {
  text-align: center; }
  .footer-links-list > ul > li {
    display: inline-block;
    list-style-type: none;
    position: relative; }
    @media (max-width: 450px) {
      .footer-links-list > ul > li {
        display: block; } }
    .footer-links-list > ul > li > a {
      font-size: 14px;
      line-height: 20px;
      color: #000;
      padding: 0 20px;
      position: relative;
      transition: 0.5s; }
      .footer-links-list > ul > li > a:hover {
        color: #ff6600; }
  .footer-links-list > ul > li:before {
    content: "";
    width: 7px;
    height: 7px;
    background-color: #ff6600;
    border-radius: 50%;
    position: absolute;
    top: 6.5px;
    left: 0; }
    @media (max-width: 450px) {
      .footer-links-list > ul > li:before {
        content: none; } }
  .footer-links-list > ul > li:first-child:before {
    content: none; }

.copyright {
  font-size: 14px;
  color: #b1b1b1;
  text-align: center; }
  .copyright a {
    color: #367bd0; }

/*# sourceMappingURL=style.css.map */
